#container {
    border: 3px solid black;
    height: 20rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#photo {
    height: 10rem;
    width: auto;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
  325deg,
  hsl(177deg 48% 84%) 0%,
  hsl(170deg 67% 81%) 11%,
  hsl(162deg 78% 79%) 22%,
  hsl(152deg 85% 78%) 33%,
  hsl(138deg 89% 79%) 44%,
  hsl(116deg 90% 80%) 56%,
  hsl(95deg 91% 74%) 67%,
  hsl(78deg 89% 67%) 78%,
  hsl(65deg 87% 59%) 89%,
  hsl(55deg 100% 50%) 100%
);
}

.circle {
    height: 1rem;
    width: 1rem;
    border: 1px solid black;
    border-radius: 50%;
}

#imageselect {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#imageselect > * {
    margin: 0.6rem;
}

#circleone {
    background-color: black;
}
